:root {
    --box-shadow: 0px 1px 4px 1px rgba(199,199,199,1);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    margin-left: 70px;
    background-image: url(finalbg.png);
    background-size: 90%;
}



.balance-Container {
    margin-top: 100px;
    box-shadow: var(--box-shadow);
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgba(241, 233, 239, 0.726);
    position: absolute;
}

.transaction-Container {
    margin: 100px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    position: absolute;
    right: -20px;
    background-color: rgba(241, 233, 239, 0.726);

}

.dashboard-Container {
    margin-top: 100px;
    text-align: center;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    position: absolute;
    right: 540px;
    background-color: rgba(241, 233, 239, 0.726);
    

}

.balance-Container p {
    font-size: 2.5em;
    margin-left: 10px;
}

 nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: thistle;
}
nav .title{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li a {
    line-height: 80px;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;

}
nav ul li a:hover{
    background: plum;
    border-radius: 6px;
    color: black;
}
nav ul li a.active{
    background: plum;
    border-radius: 6px;
}
 
 

